.container {
  background-color: #ffffff;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 20px;
  box-sizing: border-box;

  .settingsCard {
    margin: 0;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    max-width: 300px;
    width: 100%;
    padding: 40px 30px;
    background-color: #383838;
    border-radius: 26px;
    border: 1px solid #a1a1a1;
    text-align: center;
    color: #ffffff;

    h1 {
      font-size: 32px;
      margin-bottom: 30px;
      margin: 0;
    }

    p {
      font-size: 16px;
      margin: 0px;
    }

    .input {
      width: 100%;
      padding: 10px;
      color: #ffffff;
      border: 1px solid #ccc;
      border-radius: 14px;
      font-size: 20px;
      background-color: inherit;
      caret-color: #ffffff;

      &:focus {
        outline: none;
        border-color: #ffffff;
      }
    }

    .btn {
      width: 100%;
      padding: 12px;
      background-color: inherit;
      border: 1px solid #b5b5b5;
      border-radius: 14px;
      color: #ffffff;
      font-size: 20px;
      cursor: pointer;
      transition: background-color 0.3s ease;

      &:hover {
        background-color: #b5b5b5;
      }
    }
  }
}
